#idDlgCard {
    border: 0;
    width: 40rem;
    max-height: 85dvh;
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width:950px) {
        width: 30rem;
        border-radius: 1.5rem;
    }

    &.opened {
        display: flex;
        flex-direction: column;

        &::backdrop {
            background: #000000a3;
        }
    }

    .cSecDlgVisiblePart {
        display: flex;
        flex-direction: column;

        .cDlgMedias {
            .cDlgCardMainImg {
                width: 100%;
                height: 15rem;
                object-fit: cover;
                object-position: center;
                font-weight: 100;

                @media (max-width:1150px) {
                    height: 12rem;
                }

                @media (max-width:950px) {
                    height: 8rem;
                }
            }

            button {
                border: 0;
                border-radius: 1.5rem;
                box-shadow: 0px 0px 1.5rem #000000;
                position: absolute;
                top: 0;
                left: 100%;
                transform: translate(-130%, 30%);

                .cDlgCardCloseIcon {
                    width: 5rem;
                    height: 3.5rem;
                    padding: 1rem;

                    @media (max-width:950px) {
                        width: 3rem;
                        height: 2rem;
                        padding: 0.3rem;
                    }
                }
            }
        }

        &.cSecDlgVisiblePartJustDrinkCard {
            margin-bottom: 7rem;

            @media (max-width:950px) {
                margin-bottom: 5rem;
            }
        }

        .cDlgHeader {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1.5rem 1.5rem;

            @media (max-width:1150px) {
                padding: 1rem 1rem;
            }

            @media (max-width:950px) {
                gap: 0.5rem;
                padding: 0.5rem 0.5rem;
            }

            h2 {
                @media (max-width:950px) {
                    font-size: 1.2em;
                }
            }
        }
    }

    .cSecDlgHiddenPart {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        margin-bottom: 7rem;

        @media (max-width:950px) {
            margin-bottom: 5rem;
        }
    }
    
    .cSecCalculateRecords {
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 1rem 2.5rem 2.5rem 2.5rem;

        @media (max-width:950px) {
            gap: 1rem;
            padding: 0.7rem;
        }

        .cIncDecBtnsArea {
            background: #e4a9a9;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;

            @media (max-width:950px) {
                border-radius: 1.5rem;
            }
        }

        b {
            font-size: 1.3em;

            @media (max-width:950px) {
                font-size: 1.2em;
            }
        }

        .cCalResult {
            width: 100%;
            background: #e4a9a9;
            border-radius: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;

            @media (max-width:950px) {
                border-radius: 1.5rem;
                gap: 0.5rem;
            }
        }

        button {
            border: 0;
            border-radius: 3rem;
            box-shadow: 0px 0px 0.5rem #828282;
            font-size: 1em;
            color: #635f5f;
            padding: 0.5rem 1rem;
            background: #e5d4d4;

            @media (max-width:950px) {
                padding: 0.5rem;
                border-radius: 1.5rem;
            }

            img {
                width: 3rem;
                height: 2rem;
                padding: 0.2rem;

                @media (max-width:950px) {
                    width: 2rem;
                    height: 1rem;
                    padding: 0.1rem;
                }
            }

            &:hover {
                box-shadow: 0px 0px 0rem #ffffff;
                filter: drop-shadow(0px 0px 0.5rem #DF1067);
                cursor: pointer;
            }
        }
    }

    /* Gemeinsame Stylings */
    .cOptionsArea {
        border: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0rem;

        @media (max-width:950px) {
            gap: 0.5rem;
            padding: 0.5rem 0rem;
        }

        .cOptions {
            border-radius: 1.5rem;
            box-shadow: 0px 0px 1rem #979797;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 2rem;
            margin: 0rem 2rem;
            color: #0000009b;
            
            @media (max-width:950px) {
                border-radius: 1rem;
                height: 2.5rem;
                padding: 0rem 1rem;
                margin: 0rem 1rem;
                font-size: 0.9em;
            }

            label {
                display: flex;
                gap: 1rem;
            }

            &:hover {
                box-shadow: 0px 0px 1rem #2d2c2c;
                cursor: pointer;
            }
        }

        .cOptionsHeader {
            background: #e5d4d4;
            box-shadow: 0px 0px 1rem #979797;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4rem;
            padding: 0rem 2.5rem;

            @media (max-width:950px) {
                height: 3.5rem;
                padding: 0rem 1.5rem;
            }

            .cOptionsHeaderTitle {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .cOptionsHeaderToggledInfos {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 4rem;
                    height: 4rem;
                    padding: 0.7rem;
                }

                small {
                    background: black;
                    color: whitesmoke;
                    border-radius: 1rem;
                    padding: 0.5rem 1rem;

                    @media (max-width:950px) {
                        border-radius: 0.7rem;
                        padding: 0.5rem 0.5rem;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}