#idDlgFeedbackContainer {

    #idDlgFeedback {
        /* display: flex; will be by Order.renderDlgFeedback() activated */
        border: 0;
        flex-direction: column;
        gap: 2rem;
        border-radius: 2.5rem;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5rem;
        /* background: rgb(98, 27, 27); */
        
        &::backdrop {
            background: #000000a3;
        }
        
        #idDlgFeedbackCloseBtn {
            border: 0;
            align-self: flex-end;
            width: 4rem;
            height: 4rem;
            border-radius: 1.5rem;
            padding: 0.2rem;
            
            .cDlgFeedbackCloseIcon {
                width: 3rem;
                height: 3rem;
            }
        }
        img{
            align-self: center;
            width: 20rem;
            /* height: 25rem; */
            border-radius: 20rem;            
        }
        strong {
            /* border: 1px solid red; */
            font-size: 1.5em;
            padding: 1rem;
            text-align: center;
        }
    }
}