*,
*::before,
*::after {
    position: relative;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

main {
    /* display: flex; */
    /* justify-content: center; */
}

a {
    text-decoration: none;
    cursor: pointer;
}

.content {
    max-width: 1440px;
    width: 100%;
}




@media (max-width:2200px) {}

@media (max-width:1940px) {}

@media (max-width:1370px) {}

@media (max-width:1150px) {}

@media (max-width:950px) {}

@media (max-width:670px) {}

@media (max-width:600px) {}

@media (max-width:535px) {}

@media (max-width:480px) {}

@media (max-width:450px) {}