/* ./styles/standard.css (is linked) */

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

#aot {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (max-width:390px) {
        padding-top: 2rem;
    }

    strong {
        font-size: 2em;

        @media (max-width:390px) {
            font-size: 1.5em;
        }
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        strong {
            font-size: 1.5em;

            @media (max-width:390px) {
                font-size: 1.2em;
            }
        }

        div {
            width: 100%;
            font-size: 1em;

            display: flex;
            justify-content: center;
            gap: 1.5rem;

            figure {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                img {
                    width: 35rem;

                    @media (max-width:950px) {
                        width: 30rem;
                    }

                    @media (max-width:670px) {
                        width: 23rem;
                    }

                    @media (max-width:535px) {
                        width: 18rem;
                    }

                    @media (max-width:450px) {
                        width: 15rem;
                    }
                    
                    @media (max-width:390px) {
                        width: 13rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                        filter: drop-shadow(0rem 0rem 2rem #DF1067);
                    }
                }
            }

            label {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                max-width: 15rem;
                white-space: normal;
                word-break: break-word;
                font-size: 0.8em;
            }
        }

        .cBtnsArea {
            display: flex;
            justify-content: center;
            gap: 2rem;

            @media (max-width:535px) {
                flex-direction: column;
                align-items: center;
            }

            button {
                border: 0;
                border-radius: 3rem;
                background: #DF1067;
                width: 25rem;
                height: 4rem;
                font-size: 1.2em;
                color: #faebd7;

                @media (max-width:670px) {
                    width: 20rem;
                }


                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    filter: drop-shadow(0px 0px 2rem #DF1067);
                }
            }
        }
    }
}